<div class="row">
  <div class="col user">
    <p class="city">{{ weather.location.city }}</p>
    <p class="date">
      {{
        weather.current.date.year +
          "-" +
          weather.current.date.month +
          "-" +
          weather.current.date.day | date: "longDate"
      }}
    </p>
    <app-current-weather-icon
      [iconCode]="weather.current.icon"
      class="current-icon"
    >
    </app-current-weather-icon>
    <span class="current-summery">{{ weather.current.state_text }}</span>
  </div>
  <div class="col text-end degree">
    <p class="number">
      {{
        weather.current.temp | typeChecker: selectedType | number: "1.0-1"
      }}&#176;
    </p>
    <p class="detailed">
      <span
        >{{
          weather.current.temp_max
            | typeChecker: selectedType
            | number: "1.0-1"
        }}&#176;</span
      >
      /
      <span
        >{{
          weather.current.temp_min
            | typeChecker: selectedType
            | number: "1.0-1"
        }}&#176;</span
      >
    </p>
    <span class="today-summery">{{ weather.current.state_description }}</span>
  </div>
</div>
