<div class="row">
  <div class="col user">
    <p class="city">{{ user.location }}</p>
    <p class="date">{{ user.date | date: "mediumDate" }}</p>
    <app-current-weather-icon [iconCode]="weather.icon" class="current-icon">
    </app-current-weather-icon>
    <span class="current-summery">{{ weather.main }}</span>
  </div>
  <div class="col text-end degree">
    <p class="number">
      {{ weather.temp | typeChecker: selectedType | number: "1.0-1" }}&#176;
    </p>
    <p class="detailed">
      <span
        >{{
          weather.temp_max | typeChecker: selectedType | number: "1.0-1"
        }}&#176;</span
      >
      /
      <span
        >{{
          weather.temp_min | typeChecker: selectedType | number: "1.0-1"
        }}&#176;</span
      >
    </p>
    <span class="today-summery">{{ weather.description }}</span>
  </div>
</div>
