<div class="selectors w-100 d-block">
  <button class="selector selected">Hourly</button>
  <button class="selector">Daily</button>
</div>

<div class="results overflow-auto d-flex flex-row">
  <div class="weather-instance">
    <div class="time">Now</div>
    <app-current-weather-icon [iconCode]="'10d'"></app-current-weather-icon>
    <div class="degree">81&#176;</div>
  </div>
  <div class="weather-instance">
    <div class="time">Now</div>
    <app-current-weather-icon [iconCode]="'10d'"></app-current-weather-icon>
    <div class="degree">81&#176;</div>
  </div>
  <div
    class="weather-instance"
    *ngFor="let instance of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
  >
    <div class="time">Now</div>
    <app-current-weather-icon [iconCode]="'10d'"></app-current-weather-icon>
    <div class="degree">81&#176;</div>
  </div>
</div>
