<div class="selectors w-100 d-block">
  <button class="selector selected">Hourly</button>
  <button class="selector">Daily</button>
</div>

<div class="results overflow-auto d-flex flex-row">
  <div
    class="weather-instance"
    *ngFor="let hourInstance of weather.forecast[0].hours"
  >
    <div class="time">{{ hourInstance.hour }}</div>
    <app-current-weather-icon
      [iconCode]="hourInstance.icon"
    ></app-current-weather-icon>
    <div class="degree">{{ hourInstance.temp }}&#176;</div>
  </div>
</div>
