:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 41px 0;
}

h1 {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

@media (max-width: 550px) {
  h1 {
    font-size: 20px;
  }
}
